/* HomePage.css */

.home-page-container {
    padding: 100px;
    background-color: #007bff; /* Background color for the container */
    border-radius: 10px; /* Rounded corners for the container */
    max-width: 600px; /* Maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center the content within the container */
  }
  
  .app-name {
    font-size: 24px; /* Font size for the app name */
    margin-top: -20px; /* Move the app name up */
    margin-bottom: 20px; /* Spacing below the app name */
    color: #fff; /* White color for the app name */
  }
  
  .home-page-header {
    font-size: 20px; /* Font size for the header */
    margin-bottom: 20px; /* Spacing below the header */
    color: #fff; /* White color for the header */
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .action-button {
    background-color: #121212; /* Blue background color for action buttons */
    color: #fff; /* White text color for action buttons */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners for action buttons */
    padding: 10px 20px; /* Padding for action buttons */
    font-size: 16px; /* Font size for the button text */
    cursor: pointer; /* Cursor style on hover */
    text-decoration: none; /* Remove default link underline */
    text-align: center;
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .action-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .sign-out-button {
    background-color: #ff3b3b; /* Red background color for sign-out button */
    color: #fff; /* White text color for sign-out button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners for sign-out button */
    padding: 10px 20px; /* Padding for sign-out button */
    font-size: 16px; /* Font size for the button text */
    cursor: pointer; /* Cursor style on hover */
    text-align: center;
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .sign-out-button:hover {
    background-color: #c20202; /* Darker red on hover */
  }
  